<!DOCTYPE html>
<html>
<head>
    <title>Shop Owner Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
        .table-container {
            display: flex;
            width: 100%;
            height: 500px; /* Adjust the height as needed */
        }
      
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f5f5f5;
        }
        .left-container, .right-container {
            flex: 1;
            padding: 20px;
        }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script>
        // Sample data, replace with your data
        var salesData = [1,2,3,4,5,6,7,8,9];
        var lw = {{ lw }};
        var diss = {{ diss }};
        var up = {{ up }};
        var newPrediction = {{ new_prediction }};
        var maxBinCount = 45;


        // Create the histogram
        var traceSales = {
            x: {{ sales_data | tojson }},
            type: 'histogram',
            nbinsx: 200,
            customdata: {{ sales_data | tojson }}, // Use the same data for custom hover data
            hoverinfo: 'none',
        };

        var thresholdLines = [
            { x: [lw, lw], y: [0, maxBinCount], mode: 'lines', line: { color: 'red', dash: 'dash' }, name: 'Threshold to remove product', hoverinfo: 'x+name', hoverlabel: { namelength: -1 } },
            { x: [diss, diss], y: [0, maxBinCount], mode: 'lines', line: { color: 'magenta', dash: 'dash' }, name: 'Recommend to give Discount', hoverinfo: 'x+name', hoverlabel: { namelength: -1 } },
            { x: [up, up], y: [0, maxBinCount], mode: 'lines', line: { color: 'green', dash: 'dash' }, name: 'Recommend to keep', hoverinfo: 'x+name', hoverlabel: { namelength: -1 } }
        ];

        var predictionLine = {
            x: [newPrediction, newPrediction],
            y: [0, maxBinCount],
            mode: 'lines',
            line: { color: 'yellow' },
            name: 'Tomorrow sale prediction',
            hoverinfo: 'x+name',
            hoverlabel: { namelength: -1 }
        };

        var layout = {
            legend: { x: 0.8, y: maxBinCount },
        };

        var data = [traceSales, ...thresholdLines, predictionLine];

        // Create the Plotly chart
        document.addEventListener('DOMContentLoaded', function () {
            Plotly.newPlot('dashboard-chart', data, layout);
    
            // Remove 'trace0' legend entry
            var plotlyLegend = document.querySelector('.legend');
            if (plotlyLegend) {
                var legendItems = plotlyLegend.querySelectorAll('.traces');
                if (legendItems.length > 0) {
                    legendItems[0].style.display = 'none';
                }
            }
        });
    </script> -->
</head>
<body>
    <header>
        <h1>Shop Owner Dashboard</h1>
    </header>

    <div class="table-container">
        <div class="left-container">
            <h2>Prediction & Recommendations</h2>
            <table>
                <!-- <caption>Table 1: Predictions and Ground Truth</caption> -->
                <tr>
                    <th>Store</th>
                    <th>Product Family</th>
                    <th>Predictions</th>
                    <th>Recommendation</th>
                </tr>

                <tr>
                    <td>6</td>
                    <td>POULTRY</td>
                    <td>674</td>
                    <td>Hold The POULTRY and Do Not Need to Order More for Store 6</td>
                    
                </tr>
                <tr>
                    <td>6</td>
                    <td>SEAFOOD</td>
                    <td>54</td>
                    <td>Hold The SEAFOOD and Order More for Store 6 with an amount of at least 46</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>POULTRY</td>
                    <td>630</td>
                    <td>Hold The SEAFOOD and Order More for Store 8 with an amount of at least 42</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>SEAFOOD</td>
                    <td>38</td>
                    <td>Hold The POULTRY and Do Not Need to Order More for Store 8</td>
                </tr>
            </table>
        </div>
        <div class="right-container">
            <h2>Everyday Predictions</h2>
            <!-- <p>Sales Data: {{ sales_data }}</p> -->
            <!-- <form action="/owner" method="POST">
                <input type="text" name="store" id="store" placeholder="Enter 'Store' value">
                <input type="text" name="family" id="family" placeholder="Enter 'Product Family' value">
                <input type="submit">
            </form> -->
            <form id="input-form" action="/owner" method="POST">
                <label for="store">Select Store:</label>
                <select name="store" id="store">
                    <option value="6">Store 6</option>
                    <option value="8">Store 8</option>
                    <!-- Add more options as needed -->
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label for="family">Select Product Family:</label>
                <select name="family" id="family">
                    <option value="POULTRY">POULTRY</option>
                    <option value="SEAFOOD">SEAFOOD</option>
                    <!-- Add more options as needed -->
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit">
            </form>

            <!-- <button onclick="displayImage()">Display Image</button> -->
            <!-- <div id="image-container"></div> -->
            <!-- <h2>Everyday Sales Prediction</h2> -->
            <div id="graph-chart"></div>
        </div>
        
        <script>
            createGraph();
            function createGraph() {
                // Sample data, replace with your data
                var lw = {{ lw }};
                console.log(lw)
                var diss = {{ diss }};
                var up = {{ up }};
                var newPrediction = {{ new_prediction }};
                var maxBinCount = 52;


                // Create the histogram
                var traceSales = {
                    x: {{ sales_data | tojson }},
                    type: 'histogram',
                    nbinsx: 200,
                    customdata: {{ sales_data | tojson }}, // Use the same data for custom hover data
                    hoverinfo: 'none',
                };

                var thresholdLines = [
                    { x: [lw, lw], y: [0, maxBinCount], mode: 'lines', line: { color: 'red', dash: 'dash' }, name: 'Threshold to remove product', hoverinfo: 'x+name', hoverlabel: { namelength: -1 } },
                    { x: [diss, diss], y: [0, maxBinCount], mode: 'lines', line: { color: 'magenta', dash: 'dash' }, name: 'Recommend to give Discount', hoverinfo: 'x+name', hoverlabel: { namelength: -1 } },
                    { x: [up, up], y: [0, maxBinCount], mode: 'lines', line: { color: 'green', dash: 'dash' }, name: 'Recommend to keep', hoverinfo: 'x+name', hoverlabel: { namelength: -1 } }
                ];

                var predictionLine = {
                    x: [newPrediction, newPrediction],
                    y: [0, maxBinCount],
                    mode: 'lines',
                    line: { color: 'orange' },
                    name: 'Tomorrow sale prediction',
                    hoverinfo: 'x+name',
                    hoverlabel: { namelength: -1 }
                };

                var layout = {
                    legend: { x: 0.8, y: maxBinCount },
                };

                var data = [traceSales, ...thresholdLines, predictionLine];
                
                console.log(data);
                // Create the Plotly chart
                Plotly.newPlot('graph-chart', data, layout);
                var plotlyLegend = document.querySelector('.legend');
                if (plotlyLegend) {
                    var legendItems = plotlyLegend.querySelectorAll('.traces');
                    if (legendItems.length > 0) {
                        legendItems[0].style.display = 'none';
                    }
                }
            }
        </script>
    </div>


</body>
</html>
